/**
 * See https://tailwindcss.com/docs/functions-and-directives 
 */

/** Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

/** Site Fonts */
@font-face {
  font-display: swap;
  font-family: 'Dela Gothic One';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/dela-gothic-one-v10-latin-regular.woff2') format('woff2');
}

/** space-mono-regular - latin */
@font-face {
  font-display: swap;
  font-family: '"Space Mono"';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/space-mono-v12-latin-regular.woff2') format('woff2');
}

/** space-mono-700 - latin */
@font-face {
  font-display: swap;
  font-family: '"Space Mono"';
  font-style: bold;
  font-weight: 700;
  src: url('/fonts/space-mono-v12-latin-700.woff2') format('woff2');
}

/** Shadcn styles */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 0 0% 11%; /* ht-black */
    --secondary-foreground: 21 63% 94%; /* ht-off-white */

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }
}

@layer base {
  /** Remove arrow spinner for input numbers */
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

/** Custom Styles */
@layer utilities {
  .content-wrapper {
    @apply px-4;
    @apply md:px-8;
    @apply lg:px-16;
    @apply w-full;
  }

  .content-container {
    @apply max-w-screen-xl;
    @apply mx-auto;
  }

  .title {
    @apply font-serif;
    @apply font-bold;
    @apply uppercase;
  }

  .title-section {
    @apply my-56;
    @apply text-2xl;
    @apply sm:text-4xl;
    @apply md:text-6xl;
  }

  .body-text-wrapper {
    @apply min-h-[65vh];
    @apply my-8;
  }

  .font-serif {
    @apply tracking-wide;
  }

  .font-mono {
    @apply tracking-tight;
  }
}
