/**
 * See https://tailwindcss.com/docs/functions-and-directives 
 */

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

/* Site Fonts */
@font-face {
    font-display: swap;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/source-sans-pro-v21-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/dela-gothic-one-v10-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/nunito-sans-v15-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/roboto-v30-latin-regular.woff2') format('woff2');
}

/* Custom Styles */
@layer utilities {
    .bg-primary {
        @apply bg-ht-green;
    }

    .bg-secondary {
        @apply bg-ht-gold-light;
    }

    .text-primary {
        @apply text-ht-gold;
    }

    .text-secondary {
        @apply text-ht-green-dark;
    }
}
